In [66]:
#UPDATE this cell with your data source + Dictionary/Codebook
#data source: https://ourworldindata.org/mental-health

In [67]:
#import libraries
import pandas as pd
import math
import matplotlib as plt
import numpy as np

In [68]:
#name file path and choose appropriate cell to execute
file = 'mental_by_country.csv'

In [69]:
#read data from CSV and print head
df = pd.read_csv('mental_by_country.csv')
print(df.head)

<bound method NDFrame.head of            Entity Code  Year  \
0     Afghanistan  AFG  1990
1     Afghanistan  AFG  1991
2     Afghanistan  AFG  1992
3     Afghanistan  AFG  1993
4     Afghanistan  AFG  1994
...           ...  ...   ...
6775     Zimbabwe  ZWE  2015
6776     Zimbabwe  ZWE  2016
6777     Zimbabwe  ZWE  2017
6778     Zimbabwe  ZWE  2018
6779     Zimbabwe  ZWE  2019

      Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)
0                                             16.659229
1                                             16.765052
2                                             16.874469
3                                             16.990720
4                                             17.112730
...                                                 ...
6775                                          11.156429
6776                                          11.164133
6777                                          11.170427
6778                                          11.158765
6779                                          11.119021

[6780 rows x 4 columns]>

In [70]:
#limit dataset to the year 2019
df = df[df['Year'] == 2019]
print(df.head())

                   Entity Code  Year  \
29            Afghanistan  AFG  2019
59   African Region (WHO)  NaN  2019
89                Albania  ALB  2019
119               Algeria  DZA  2019
149        American Samoa  ASM  2019

     Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)
29                                           17.117612
59                                           12.211424
89                                           11.558431
119                                          14.782931
149                                          11.241028

In [71]:
table = df.groupby('Entity')[['Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)']].value_counts(normalize = True).to_frame(
    name = 'Year').reset_index()
table

,Entity,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent),Year
0,Afghanistan,17.117612,1.0
1,African Region (WHO),12.211424,1.0
2,Albania,11.558431,1.0
3,Algeria,14.782931,1.0
4,American Samoa,11.241028,1.0
...,...,...,...
221,World Bank Lower Middle Income,12.765504,1.0
222,World Bank Upper Middle Income,12.500398,1.0
223,Yemen,16.401522,1.0
224,Zambia,12.112616,1.0
225,Zimbabwe,11.119021,1.0

In [72]:
table.to_csv('mental_country_percent.csv') #export to CSV

In [65]:
#create pivot table to use in google sheets
pvt_table = table.pivot(index = 'Entity', columns = 'Year', values = 'Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)')
pvt_table

Year                                  1.0
Entity
Afghanistan                     17.117612
African Region (WHO)            12.211424
Albania                         11.558431
Algeria                         14.782931
American Samoa                  11.241028
...                                   ...
World Bank Lower Middle Income  12.765504
World Bank Upper Middle Income  12.500398
Yemen                           16.401522
Zambia                          12.112616
Zimbabwe                        11.119021

[226 rows x 1 columns]

In [40]:
#print list of column names
print(list(df))
print(len(df))
print(len(list(df)))

['Entity', 'Code', 'Year', 'Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)']
226
4

In [41]:
#output frequency table of chosen column in dataset
col1 = 'Entity' #<-edit this value! column name as it appears in dataframe
col1_name = 'Country' #<-edit this value! descriptive name for column
col2 = 'Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)'
col2_name = "Mental Health Percentages"

Entity

6